body {
    background-color: grey;
}

main {
    container-type: inline-size;

}

.card {
    background-color: hotpink;

}

@container (800px < width < 1000px) {
    .card {
        background-color: rebeccapurple;
    }
}